:root {
  --primary: #093567;
  --secondary: #0c4483;
  --terciary: #fdc049;
  --shape: #fff;
  --text: #222;
  --text-light: #666;

  --spacing-md: 2rem;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
button {
  margin: 0;
  padding: 0;
  font-family: var(--font-inter);
}
