.achievements {
  position: fixed;
  top: 0;
  left: -100%;
}

.achievements .greenEffect {
  background-color: var(--green);
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
}

.achievements .yellowEffect {
  background-color: var(--terciary);
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
}

.achievements .content {
  background-color: var(--primaryDark);
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
}
